app/cache/
app/logs/
app/sessions/
app/config/*_local.yml
/vendor/
.idea/
.project
local.php
*-bak/
*-org/
upload/
local.css
tmp/
src/eid/war/
web/bundles/
app/bootstrap.php.cache
*.iml
/app/SymfonyRequirements.php
/app/check.php
web/documents/
